.bg-gradiant {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.main-profile {
    border: 3px solid #198754;
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.main-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}